<div class="container">
  <div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      Find Index of Given Fibonacci Number
    </div>
    <div class="card-body ">
      <label>Enter a number </label>
      <div class="row">
        <div class="col-lg">
          <input min="0" (keypress)="onKeyPress($event)" type="number" [(ngModel)]="inputNumber">
        </div>
        <div class="col-lg">
          <button class="btn btn-primary center " (click)="getFromSequence()">Submit</button>
        </div>
        <div>
          <label>{{answer}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
