<div class="col-lg-12">
    <div class="card ">
      <div class="card-header ">
        <h1>Find Letter Occurances</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <label>Enter a sentence </label>
            <input type="text" [(ngModel)]="word" />
          </div>
          <div>
            <button class="btn btn-primary " (click)="findletterOccurance()">Find letter Occurances</button>
          </div>
          <div> <label>{{result}}</label></div>
        </div>
      </div>
    </div>
  </div>
  